<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="florida.tony.hw6"
    android:versionCode="1"
    android:versionName="1.0" >

    
    <!-- changed minSdkVersion from 10 to 16 to allow MapFragment to work -->
    <uses-sdk
        android:minSdkVersion="16" 
        android:targetSdkVersion="19" />
    
    <uses-feature
	    android:glEsVersion="0x00020000"
	    android:required="true"/>
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>    
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <permission android:name="florida.tony.hw6.RemoteService" 
        android:protectionLevel="normal" 
        android:label="Remote Service" 
        android:description="@string/remote_service_permission"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="florida.tony.hw6.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".RemoteServiceImpl" 
            		android:exported="true" 
            		android:permission="florida.tony.hw6.RemoteService">
            <intent-filter>
                <action android:name="florida.tony.hw6.RemoteService"/>
            </intent-filter>
		</service>
        
         <meta-data
	        android:name="com.google.android.maps.v2.API_KEY"
	        android:value="AIzaSyB6a0bCChuHbN-DzFX4mIig25MRhttw4Js"/>
	    <meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />
    </application>

</manifest>
